.startbar-startmenu
{
    position:   absolute;
    top:        -100%;
    left:       1rem;

    min-width:  300px;

    transition: top .25s;

    border:      1px solid var(--osgui-control-border, rgba(255, 255, 255, .85));
}

.startbar-startmenu.startbar-startmenu-shown
{
    top:        3rem;
}